/.vscode
/Cu30_800-1200_20250425(poly)_C2.csv
/debug_contour_ellipse.png
/debug_detected
/debug_manual_overlay.png
/debug_original_overlay.png
/debug_original_overlay_fixed.png
/debug_overlay_test.png
/debug_segment_0.png
/ESL Data
/results-2025-9-16.zip
/results_2025-9-15.zip
/results_Cu30_ellipsoid.csv
/results_Cu30_legendre.csv
/results_Cu42_ellipsoid.csv
/results_Cu42_legendre.csv
/results_Cu43_ellipsoid.csv
/results_Cu43_legendre.csv
/results_Cu44_ellipsoid.csv
/results_Cu44_legendre.csv
/room temperature
/temp
/temp_density_data_Cu30_bspline.csv
/temp_density_data_Cu30_ellipsoid.csv
/temp_density_data_Cu30_legendre.csv
/temp_density_data_Cu42_ellipsoid.csv
/temp_density_data_Cu42_legendre.csv
/temp_density_data_Cu43_ellipsoid.csv
/temp_density_data_Cu43_legendre.csv
/temp_density_data_Cu44_ellipsoid.csv
/temp_density_data_Cu44_legendre.csv
/temp_density_data_Cu5N_bspline.csv
/temp_density_data_Cu5N_legendre.csv
/temp_vs_density.png
/temp_vs_density_Cu30.png
/temp_vs_density_Cu30_bspline.png
/temp_vs_density_Cu30_ellipsoid.png
/temp_vs_density_Cu30_legendre.png
/temp_vs_density_Cu30_revolve.png
/temp_vs_density_Cu42.png
/temp_vs_density_Cu42_ellipsoid.png
/temp_vs_density_Cu42_legendre.png
/temp_vs_density_Cu42_revolve.png
/temp_vs_density_Cu43.png
/temp_vs_density_Cu43_ellipsoid.png
/temp_vs_density_Cu43_legendre.png
/temp_vs_density_Cu44.png
/temp_vs_density_Cu44_bspline.png
/temp_vs_density_Cu44_ellipsoid.png
/temp_vs_density_Cu44_legendre.png
/temp_vs_density_Cu5N_bspline.png
/temp_vs_density_Cu5N_fourier.png
/temp_vs_density_Cu5N_legendre.png
/temp_vs_density_filtered.png
/temp_vs_volume.png
/temp_vs_volume_filtered.png
/test
/time_density_data_Cu43.csv
/time_density_data_Cu44.csv
/time_vs_circularity_Cu30_ellipsoid.png
/time_vs_circularity_Cu30_legendre.png
/time_vs_circularity_Cu42_ellipsoid.png
/time_vs_circularity_Cu42_legendre.png
/time_vs_circularity_Cu43_ellipsoid.png
/time_vs_circularity_Cu43_legendre.png
/time_vs_circularity_Cu44_ellipsoid.png
/time_vs_circularity_Cu44_legendre.png
/time_vs_density.png
/time_vs_density_Cu30.png
/time_vs_density_Cu43.png
/time_vs_density_Cu44.png
/time_vs_density_filtered.png
/time_vs_volume.png
/_last_edge_extend_debug.json
/__pycache__